/* FIXME */
.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: 0.25rem;
}

nav {
    display: inline-block;
    padding: 5px 0px;
}

ul {
    list-style-type: none;
    color: white;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-right: 0;
}

h1 {
    font-size: 30px;
    padding-bottom: 20px;
}

a {
    color: #aaaaaa;
}

a:hover {
    color: black;
    text-decoration: none;
}

code {
    color: #c73b25;
    background-color: #f9f4f2;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 2px 6px;
    font-size: 90%;
}

.navbar li {
    display: inline-block;
    color: white;
    margin-right: 20px;
    font-size: larger;
}

.pulldown li {
    color: white;
    margin-right: 20px;
    font-size: larger;
    text-align: left;
}

.pulldown a:hover {
    color: white;
    text-decoration: none;
}

.contact-info {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.contact-info svg {
    display: inline-block;
    align-self: center;
    margin: auto;
    width: 20px;
    height: 20px;
    /* FIXME 水平线 */
}

.contact-info a {
    display: inline-block;
    margin-top: 0px;
}

/*----------------------------------------------------------------*/

/* FIXME */

/* .navbar.navbar-dark.bg-dark.shadow-sm {
    margin: 0px;
}

.form-inline.mt-2.mt-md-0 button {
    padding-right: 10px;
}

.d-flex.justify-content-between {
    margin: 0px 0px;
    padding: 0px;
    width: 100%;
    display: inline-block
}

nav {
    display: inline-block;
    padding: 5px 0px;
}
nav ul {
    list-style-type: none;
    color: white;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-right: 0;
    padding: 10px 0px 0px 0px;
}

nav li {
    display: inline-block;
    color: white;
    margin-right: 20px;
    font-size: larger;
}

.navbar-brand.d-flex.align-items-center {
    display: inline-block;
}

a {
    color: #aaaaaa;
}

a:hover {
    color: white;
    text-decoration: none;
}


.navbar-toggler {
    height: 38px;
    padding: 6px 12px;
} */

/* .navbarHeader {
    top: 100;
} */
