{% extends 'weather/base.html' %}
{% load static %}

{% block css %}{% static 'weather/css/home.css' %}{% endblock css %}
{% block title %}NPUPA天气·主页{% endblock title %}
{% block headerName %}Home{% endblock headerName %}
    {% block main %}
        <br><br>
        <section class="jumbotron text-center">
            <!-- <div class="container"> -->
                <div class="row">
                    <div class="col-md-4">
                        <h1><strong>{{ weather_temp }}</strong></h1>
                        <img
                        src="{{ weather_icon }}"
                        width="108"
                        height="108"
                        class="d-inline-block align-top"
                        alt="null"
                        />
                        <h1>{{ weather_cond }}</h1>

                    </div>
                    
                    
                    <div class="col-md-4">
                        <h1><strong>{{ admin_area }} · {{ location }}</strong></h1>
                        <p class="lead text-muted">{{ latitude }}, {{ longitude }}</p>
                        <p class="lead text-muted">IP: {{ ip }}</p>
                        <br>
                        <p class="lead text-muted">更新于: {{ weather_update }}</p>
                        <br>
                        <a href="{% url 'weather:home' %}" class="btn btn-success my-2">
                            更新数据
                        </a>
                    </div>
                    <div class="col-md-4">
                        <h1><strong>AQI</strong></h1>
                        <h1 style="font-size: 67px;"><strong>{{ aqi }}</strong></h1>
                        <button type="button" class="{{ aqi_color }}">
                            空气质量: {{ aqi_qlty }}
                        </button>
                    </div>
                </div>

            <!-- </div> -->
            <div class="container">

            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4 shadow-sm">
                            <img
                            src="/static/weather/icons/astro_icon/sunrise.png"
                            width="150"
                            height="150"
                            class="d-inline-block align-top"
                            alt="null"
                            style="align-self: center; margin: 40px 20px;"
                            />
                            <div class="card-body">
                                <p class="card-text">
                                    <h4 class="card-title" style="text-align: center;">日出日落</h4>
                                    <p class="lead text-muted" style="text-align: center;">日出时间: {{ sun_rise }}</p>
                                    <p class="lead text-muted" style="text-align: center;">日落时间: {{ sun_set }}</p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img
                            src="/static/weather/icons/astro_icon/sun_gold.png"
                            width="150"
                            height="150"
                            class="d-inline-block align-top"
                            alt="null"
                            style="align-self: center; margin: 40px 20px;"
                            />
                            <div class="card-body">
                                <p class="card-text">
                                    <h4 class="card-title">金色时段</h4>
                                    <p class="lead text-muted">金色日出: {{ gold_rbegin }} - {{ gold_rend }}</p>
                                    <p class="lead text-muted">金色日落: {{ gold_sbegin }} - {{ gold_send }}</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img
                            src="/static/weather/icons/astro_icon/sun_blue.png"
                            width="150"
                            height="150"
                            class="d-inline-block align-top"
                            alt="null"
                            style="align-self: center; margin: 40px 20px;"
                            />
                            <div class="card-body">
                                <p class="card-text">
                                    <h4 class="card-title">蓝色时段</h4>
                                    <p class="lead text-muted">蓝色日出: {{ blue_rbegin }} - {{ blue_rend }}</p>
                                    <p class="lead text-muted">蓝色日落: {{ blue_sbegin }} - {{ blue_send }}</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img
                            src="{{ moon_icon }}"
                            width="150"
                            height="150"
                            class="d-inline-block align-top"
                            alt="null"
                            style="align-self: center; margin: 40px 20px;"
                            />
                            <div class="card-body">
                                <p class="card-text">
                                    <h4 class="card-title">月相盈亏</h4>
                                    <p class="lead text-muted">{{ moon_type }}</p>
                                    <p class="lead text-muted">{{ moon_percent }} %</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock main %}
