{% extends 'weather/base.html' %}
{% load static %}

{% block css %}{% static 'weather/css/home.css' %}{% endblock css %}
{% block title %}NPUPA天气·主页{% endblock title %}
{% block headerName %}Home{% endblock headerName %}
    {% block main %}
        <br><br>
        <section class="jumbotron text-center">
            <!-- <div class="container"> -->
                <div class="row">
                    <div class="col-md-4">
                        <h1><strong>{{ weather_temp }}</strong></h1>
                        <img
                        src="{{ weather_icon }}"
                        width="108"
                        height="108"
                        class="d-inline-block align-top"
                        alt="null"
                        />
                        <h1>{{ weather_cond }}</h1>

                    </div>
                    
                    
                    <div class="col-md-4">
                        <h1><strong>{{ admin_area }} · {{ location }}</strong></h1>
                        <p class="lead text-muted">{{ latitude }}, {{ longitude }}</p>
                        <p class="lead text-muted">IP: {{ ip }}</p>
                        <br>
                        <p class="lead text-muted">更新于: {{ weather_update }}</p>
                        <br>
                        <a href="{% url 'weather:home' %}" class="btn btn-success my-2">
                            更新数据
                        </a>
                    </div>
                    <div class="col-md-4">
                        <h1><strong>AQI</strong></h1>
                        <h1 style="font-size: 67px;"><strong>{{ aqi }}</strong></h1>
                        <button type="button" class="{{ aqi_color }}">
                            空气质量: {{ aqi_qlty }}
                        </button>
                    </div>
                </div>

            <!-- </div> -->
            <div class="container">

            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg
                                class="bd-placeholder-img card-img-top"
                                width="100%"
                                height="225"
                                xmlns="http://www.w3.org/2000/svg"
                                preserveAspectRatio="xMidYMid slice"
                                focusable="false"
                                role="img"
                                aria-label="Placeholder: Thumbnail"
                            >
                                <title>Placeholder</title>
                                <rect
                                    width="100%"
                                    height="100%"
                                    fill="#55595c"
                                />
                                <text
                                    x="50%"
                                    y="50%"
                                    fill="#eceeef"
                                    dy=".3em"
                                >
                                    Thumbnail
                                </text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">
                                    This is a wider card with supporting
                                    text below as a natural lead-in to
                                    additional content. This content is a
                                    little bit longer.
                                </p>

                                <div
                                    class="d-flex justify-content-between align-items-center"
                                >
                                    <div class="btn-group">
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-outline-secondary"
                                        >
                                            View
                                        </button>
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-outline-secondary"
                                        >
                                            Edit
                                        </button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg
                                class="bd-placeholder-img card-img-top"
                                width="100%"
                                height="225"
                                xmlns="http://www.w3.org/2000/svg"
                                preserveAspectRatio="xMidYMid slice"
                                focusable="false"
                                role="img"
                                aria-label="Placeholder: Thumbnail"
                            >
                                <title>Placeholder</title>
                                <rect
                                    width="100%"
                                    height="100%"
                                    fill="#55595c"
                                />
                                <text
                                    x="50%"
                                    y="50%"
                                    fill="#eceeef"
                                    dy=".3em"
                                >
                                    Thumbnail
                                </text>
                            </svg>
                            <div class="card-body">
                                <p class="lead text-muted">日出时间: {{ sun_rise }}</p>
                                <p class="lead text-muted">日落时间: {{ sun_set }}</p>
                                <div
                                    class="d-flex justify-content-between align-items-center"
                                >
                                    <div class="btn-group">
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-outline-secondary"
                                        >
                                            View
                                        </button>
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-outline-secondary"
                                        >
                                            Edit
                                        </button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg
                                class="bd-placeholder-img card-img-top"
                                width="100%"
                                height="225"
                                xmlns="http://www.w3.org/2000/svg"
                                preserveAspectRatio="xMidYMid slice"
                                focusable="false"
                                role="img"
                                aria-label="Placeholder: Thumbnail"
                            >
                                <title>Placeholder</title>
                                <rect
                                    width="100%"
                                    height="100%"
                                    fill="#55595c"
                                />
                                <text
                                    x="50%"
                                    y="50%"
                                    fill="#eceeef"
                                    dy=".3em"
                                >
                                    Thumbnail
                                </text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">
                                    This is a wider card with supporting
                                    text below as a natural lead-in to
                                    additional content. This content is a
                                    little bit longer.
                                </p>
                                <div
                                    class="d-flex justify-content-between align-items-center"
                                >
                                    <div class="btn-group">
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-outline-secondary"
                                        >
                                            View
                                        </button>
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-outline-secondary"
                                        >
                                            Edit
                                        </button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="/static/weather/images/banner_BJ_CBD.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Sample Card Title</h4>
                                <p class="card-text">He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                in his length hid...</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    {% endblock main %}
