{% extends 'downloader/base.html' %}
{% load static %}

{% block css %}{% static 'downloader/css/home.css' %}{% endblock css %}
{% block title %}NPUPA资源·主页{% endblock title %}
{% block headerName %}Home{% endblock headerName %}
    {% block main %}
        <br><br>
        <section class="jumbotron text-center">
            <div class="container">
                <h1>NPUPA Downloads</h1>
                <p class="lead text-muted">
                    Something short and leading about the collection
                    below—its contents, the creator, etc. Make it short and
                    sweet, but not too short so folks don’t simply skip over
                    it entirely.
                </p>
                <p>
                    <a href="{% url 'downloader:downloads' %}" class="btn btn-primary my-2"
                        >下载文件</a
                    >
                    <a href="{% url 'downloader:upload' %}" class="btn btn-secondary my-2"
                        >上传文件</a
                    >
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="/static/weather/images/banner_BJ_CBD.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Sample Card Title</h4>
                                <p class="card-text">He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                in his length hid...</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="/static/weather/images/card_1.png" style="height: 140px;width: 140px;align-self: center; margin-top: 5px;" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Sample Card Title</h4>
                                <p class="card-text">He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                in his length hid...</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="/static/weather/images/banner_BJ_CBD.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Sample Card Title</h4>
                                <p class="card-text">He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed
                                in his length hid...</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock main %}
